
<h3>Function templates</h3>
Overloaded functions may have the same definition. For example:<br>
<br>
<div class="auto"><table class="split"><tr><td class="rownum"><pre><code>1<br>2<br>3<br>4<br>5<br>6<br>7<br>8<br>9<br>10<br>11<br>12<br>13<br>14<br>15<br>16<br>17<br>18<br>19<br>20<br></code></pre></td>
<td class="source"><pre><code><cite>// overloaded functions</cite>
<dfn>#include &lt;iostream&gt;</dfn>
<var>using</var> <var>namespace</var> std;

<var>int</var> sum (<var>int</var> a, <var>int</var> b)
{
  <var>return</var> a+b;
}

<var>double</var> sum (<var>double</var> a, <var>double</var> b)
{
  <var>return</var> a+b;
}

<var>int</var> main ()
{
  cout &lt;&lt; sum (10,20) &lt;&lt; <kbd>'\n'</kbd>;
  cout &lt;&lt; sum (1.0,1.5) &lt;&lt; <kbd>'\n'</kbd>
  <var>return</var> 0;
}</code></pre></td>
<td class="output"><pre><samp>30
2.5</samp></pre></td></tr></table></div>
<br>
<br>
Here, <code>sum</code> is overloaded with different parameter types, but with the exact same body.<br>
<br>
The function <code>sum</code> could be overloaded for a lot of types, and it could make sense for all of them to have the same body. For cases such as this, C++ has the ability to define functions with generic types, known as <i>function templates</i>. Defining a function template follows the same syntax than a regular function, except that it is preceded by the <code>template</code> keyword and a series of template parameters enclosed in angle-brackets &lt;&gt;:<br>
<br>
<code>template &lt;template-parameters&gt; function-declaration</code>
<br>
The template parameters are a series of parameters separated by commas. These parameters can be generic template types by specifying either the <code>class</code> or <code>typename</code> keyword followed by an identifier. This identifier can then be used in the function declaration as if it was a regular type. For example, a generic <code>sum</code> function could be defined as:<br>
<br>
<div class="auto"><table class="snippet"><tr><td class="rownum"><pre><code>1<br>2<br>3<br>4<br>5<br></code></pre></td>
<td class="source"><pre><code><var>template</var> &lt;<var>class</var> SomeType&gt;
SomeType sum (SomeType a, SomeType b)
{
  <var>return</var> a+b;
}</code></pre></td></tr></table></div>
<br>
<br>
It makes no difference whether the generic type is specified with keyword <code>class</code> or keyword <code>typename</code> in the template argument list (they are 100% synonyms in template declarations).<br>
<br>
In the code above, declaring <code>SomeType</code> (a generic type within the template parameters enclosed in angle-brackets) allows <code>SomeType</code> to be used anywhere in the function definition, just as any other type; it can be used as the type for parameters, as return type, or to declare new variables of this type. In all cases, it represents a generic type that will be determined on the moment the template is instantiated.<br>
<br>
Instantiating  a template is applying the template to create a function using particular types or values for its template parameters. This is done by calling the <i>function template</i>, with the same syntax as calling a regular function, but specifying the template arguments enclosed in angle brackets:<br>
<br>
<code>name &lt;template-arguments&gt; (function-arguments)</code>
<br>
For example, the <code>sum</code> function template defined above can be called with:<br>
<br>
<div class="auto"><table class="snippet"><tr><td class="rownum"><pre><code>&nbsp;</code></pre></td>
<td class="source"><pre><code>x = sum&lt;<var>int</var>&gt;(10,20);</code></pre></td></tr></table></div>
<br>
<br>
The function <code>sum&lt;int&gt;</code> is just one of the possible instantiations of function template <code>sum</code>. In this case, by using <code>int</code> as template argument in the call, the compiler automatically instantiates a version of <code>sum</code> where each occurrence of <code>SomeType</code> is replaced by <code>int</code>, as if it was defined as:<br>
<br>
<div class="auto"><table class="snippet"><tr><td class="rownum"><pre><code>1<br>2<br>3<br>4<br></code></pre></td>
<td class="source"><pre><code><var>int</var> sum (<var>int</var> a, <var>int</var> b)
{
  <var>return</var> a+b;
}</code></pre></td></tr></table></div>
<br>
<br>
Let's see an actual example:<br>
<br>
<div class="auto"><table class="split"><tr><td class="rownum"><pre><code>1<br>2<br>3<br>4<br>5<br>6<br>7<br>8<br>9<br>10<br>11<br>12<br>13<br>14<br>15<br>16<br>17<br>18<br>19<br>20<br>21<br></code></pre></td>
<td class="source"><pre><code><cite>// function template</cite>
<dfn>#include &lt;iostream&gt;</dfn>
<var>using</var> <var>namespace</var> std;

<var>template</var> &lt;<var>class</var> T&gt;
T sum (T a, T b)
{
  T result;
  result = a + b;
  <var>return</var> result;
}

<var>int</var> main () {
  <var>int</var> i=5, j=6, k;
  <var>double</var> f=2.0, g=0.5, h;
  k=sum&lt;<var>int</var>&gt;(i,j);
  h=sum&lt;<var>double</var>&gt;(f,g);
  cout &lt;&lt; k &lt;&lt; <kbd>'\n'</kbd>;
  cout &lt;&lt; h &lt;&lt; <kbd>'\n'</kbd>;
  <var>return</var> 0;
}</code></pre></td>
<td class="output"><pre><samp>11
2.5</samp></pre></td></tr></table></div>
<br>
<br>
In this case, we have used <code>T</code> as the template parameter name, instead of <code>SomeType</code>. It makes no difference, and <code>T</code> is actually a quite common template parameter name for generic types. <br>
<br>
In the example above, we used the function template <code>sum</code> twice. The first time with arguments of type <code>int</code>, and the second one with arguments of type <code>double</code>. The compiler has instantiated and then called each time the appropriate version of the function.<br>
<br>
Note also how <code>T</code> is also used to declare a local variable of that (generic) type within <code>sum</code>:<br>
<br>
<div class="auto"><table class="snippet"><tr><td class="rownum"><pre><code>&nbsp;</code></pre></td>
<td class="source"><pre><code>T result;</code></pre></td></tr></table></div>
<br>
<br>
Therefore, result will be a variable of the same type as the parameters <code>a</code> and <code>b</code>, and as the type returned by the function.<br>
In this specific case where the generic type <code>T</code> is used as a parameter for <code>sum</code>, the compiler is even able to deduce the data type automatically without having to explicitly specify it within angle brackets. Therefore, instead of explicitly specifying the template arguments with:<br>
<br>
<div class="auto"><table class="snippet"><tr><td class="rownum"><pre><code>1<br>2<br></code></pre></td>
<td class="source"><pre><code>k = sum&lt;<var>int</var>&gt; (i,j);
h = sum&lt;<var>double</var>&gt; (f,g);</code></pre></td></tr></table></div>
<br>
<br>
It is possible to instead simply write:<br>
<div class="auto"><table class="snippet"><tr><td class="rownum"><pre><code>1<br>2<br></code></pre></td>
<td class="source"><pre><code>k = sum (i,j);
h = sum (f,g);</code></pre></td></tr></table></div>
<br>
<br>
without the type enclosed in angle brackets. Naturally, for that, the type shall be unambiguous. If <code>sum</code> is called with arguments of different types, the compiler may not be able to deduce the type of <code>T</code> automatically.<br>
<br>
Templates are a powerful and versatile feature. They can have multiple template parameters, and the function can still use regular non-templated types. For example:<br>
<br>
<div class="auto"><table class="split"><tr><td class="rownum"><pre><code>1<br>2<br>3<br>4<br>5<br>6<br>7<br>8<br>9<br>10<br>11<br>12<br>13<br>14<br>15<br>16<br>17<br>18<br></code></pre></td>
<td class="source"><pre><code><cite>// function templates</cite>
<dfn>#include &lt;iostream&gt;</dfn>
<var>using</var> <var>namespace</var> std;

<var>template</var> &lt;<var>class</var> T, <var>class</var> U&gt;
<var>bool</var> are_equal (T a, U b)
{
  <var>return</var> (a==b);
}

<var>int</var> main ()
{
  <var>if</var> (are_equal(10,10.0))
    cout &lt;&lt; <kbd>"x and y are equal\n"</kbd>;
  <var>else</var>
    cout &lt;&lt; <kbd>"x and y are not equal\n"</kbd>;
  <var>return</var> 0;
}</code></pre></td>
<td class="output"><pre><samp>x and y are equal</samp></pre></td></tr></table></div>
<br>
<br>
Note that this example uses automatic template parameter deduction in the call to <code>are_equal</code>:<br>
<br>
<div class="auto"><table class="snippet"><tr><td class="rownum"><pre><code>&nbsp;</code></pre></td>
<td class="source"><pre><code>are_equal(10,10.0)</code></pre></td></tr></table></div>
<br>
<br>
Is equivalent to:<br>
<br>
<div class="auto"><table class="snippet"><tr><td class="rownum"><pre><code>&nbsp;</code></pre></td>
<td class="source"><pre><code>are_equal&lt;<var>int</var>,<var>double</var>&gt;(10,10.0)</code></pre></td></tr></table></div>
<br>
<br>
Since, in C++, integer literals with no suffix (such as <code>10</code>) are always of type <code>int</code>, and floating-point literals without suffix (such as <code>10.0</code>) are always of type <code>double</code>, there is no ambiguity possible, and thus the template arguments can be omitted in the call.<br>
