<div style='float:left;padding:8px 8px 8px 0px;'>
</div><p>In the previous lesson on <a href="http://www.learncpp.com/cpp-tutorial/144-expression-parameters-and-template-specialization/">template specialization</a>, we saw how it was possible to specialize member functions of a template class in order to provide different functionality for specific data types.  As it turns out, it is not only possible to specialize member functions of a template class, it is also possible to specialize an entire class!</p>
<p>Consider the case where you want to design a class that stores 8 objects.  Here&#8217;s a simplified class to do so:</p>
<table><tr><td class="source"><pre class="brush: cpp; title: ; notranslate" title="">
template &lt;typename T&gt;
class Storage8
{
private:
    T m_tType[8];

public:
    void Set(int nIndex, const T &amp;tType)
    {
        m_tType[nIndex] = tType;
    }

    const T&amp; Get(int nIndex)
    {
        return m_tType[nIndex];
    }
};
</pre></td></tr></table>
<p>Because this class is templated, it will work fine for any given type:</p>
<table><tr><td class="source"><pre class="brush: cpp; title: ; notranslate" title="">
int main()
{
    // Define a Storage8 for integers
    Storage8&lt;int&gt; cIntStorage;

    for (int nCount=0; nCount&lt;8; nCount++)
        cIntStorage.Set(nCount, nCount);

    for (int nCount=0; nCount&lt;8; nCount++)
        std::cout &lt;&lt; cIntStorage.Get(nCount) &lt;&lt; std::endl;

    // Define a Storage8 for bool
    Storage8&lt;bool&gt; cBoolStorage;
    for (int nCount=0; nCount&lt;8; nCount++)
        cBoolStorage.Set(nCount, nCount &amp; 3);

    for (int nCount=0; nCount&lt;8; nCount++)
        std::cout &lt;&lt; (cBoolStorage.Get(nCount) ? &quot;true&quot; : &quot;false&quot;) &lt;&lt; std::endl;

    return 0;
}
</pre></td></tr></table>
<p>This example prints:</p>
<pre>
0
1
2
3
4
5
6
7
false
true
true
true
false
true
true
true
</pre>
<p>While this class is completely functional, it turns out that the implementation of Storage8&lt;bool&gt; is much more inefficient than it needs to be.  Because all variables must have an address, and the CPU can&#8217;t address anything smaller than a byte, all variables must be at least a byte in size.  Consequently, a variable of type bool ends up using an entire byte even though technically it only needs a single bit to store its true or false value!  Thus, a bool is 1 bit of useful information and 7 bits of wasted space.  Our Storage8&lt;bool&gt; class, which contains 8 bools, is 1 byte worth of useful information and 7 types of wasted space.</p>
<p>As it turns out, using some basic bit logic, it&#8217;s possible to compress all 8 bools into a single byte, eliminating the wasted space altogether.  However, in order to do this, we&#8217;ll effectively need to essentially revamp the class, replacing the array of 8 bools with a variable that is a single byte in size.  While we could create an entirely new class to do so, this has one major downside: we have to give it a different name.  Then the programmer has to remember that Storage8&lt;T&gt; is meant for non-bool types, whereas Storage8Bool (or whatever we name the new class) is meant for bools.  That&#8217;s needless complexity we&#8217;d rather avoid.  Fortunately, C++ provides us a better method: class template specialization.</p>
<p><strong>Class template specialization</strong></p>
<p>Class template specialization allows us to specialize a template class for a particular data type (or set of data types, if there are multiple templated parameters).  In this case, we&#8217;re going to use class template specialization to write a customized version of Storage8&lt;bool&gt; that will take precedence over the generic Storage8&lt;T&gt; class.</p>
<p>Class template specializations are treated as completely independent classes, even though they are allocated in the same way as the templated class.  This means that we can change anything and everything about our specialization class, including the way it&#8217;s implemented and even the functions it makes public, just as if it were an independent class.  Here&#8217;s our specialized class:</p>
<table><tr><td class="source"><pre class="brush: cpp; title: ; notranslate" title="">
template &lt;&gt; // the following is a template class with no templated parameters
class Storage8&lt;bool&gt; // we're specializing Storage8 for bool
{
// What follows is just standard class implementation details
private:
    unsigned char m_tType;

public:
    void Set(int nIndex, bool tType)
    {
        // Figure out which bit we're setting/unsetting
        // This will put a 1 in the bit we're interested in turning on/off
        unsigned char nMask = 1 &lt;&lt; nIndex;

        if (tType)  // If we're setting a bit
            m_tType |= nMask;  // Use bitwise-or to turn that bit on
        else  // if we're turning a bit off
            m_tType &amp;= ~nMask;  // bitwise-and the inverse mask to turn that bit off
	}

    bool Get(int nIndex)
    {
        // Figure out which bit we're getting
        unsigned char nMask = 1 &lt;&lt; nIndex;
        // bitwise-and to get the value of the bit we're interested in
        // Then implicit cast to boolean
        return m_tType &amp; nMask;
    }
};
</pre></td></tr></table>
<p>First, note that we start off with <code>template&lt;&gt;</code>.  The template keyword tells the compiler that what follows is templated, and the empty angle braces means that there aren&#8217;t any template parameters.  In this case, there aren&#8217;t any template parameters because we&#8217;re replacing the only template parameter (typename T) with a specific type (bool).</p>
<p>Next, we add <code>&lt;bool&gt;</code> to the class name to denote that we&#8217;re specializing a bool version of Storage8.</p>
<p>All of the other changes are just class implementation details.  You do not need to understand how the bit-logic works in order to use the class (though here&#8217;s a link to the lesson on <a href="http://www.learncpp.com/cpp-tutorial/38-bitwise-operators/">bitwise operators</a> if you want to figure it out, but need a refresher on how bitwise operators work).</p>
<p>Note that this specialization class utilizes a single unsigned char (1 byte) instead of an array of 8 bools (8 bytes).</p>
<p>Now, when we declare a class of type Storage8&lt;T&gt;, where T is not a bool, we&#8217;ll get a version stenciled from the generic templated Storage8&lt;T&gt; class.  When we declare a class of type Storage8&lt;bool&gt;, we&#8217;ll get the specialized version we just created.  Note that we have kept the publicly exposed interface of both classes the same &#8212; while C++ gives us free reign to add, remove, or change functions of Storage8&lt;bool&gt; as we see fit, keeping a consistent interface means the programmer can use either class in exactly the same manner.</p>
<p>We can use the exact same example as before to show both Storage8&lt;T&gt; and Storage8&lt;bool&gt; being instantiated:</p>
<table><tr><td class="source"><pre class="brush: cpp; title: ; notranslate" title="">
int main()
{
    // Define a Storage8 for integers (instantiates Storage8&lt;T&gt;, where T = int)
    Storage8&lt;int&gt; cIntStorage;

    for (int nCount=0; nCount&lt;8; nCount++)
        cIntStorage[nCount] = nCount;

    for (int nCount=0; nCount&lt;8; nCount++)
        std::cout &lt;&lt; cIntStorage[nCount] &lt;&lt; std::endl;

    // Define a Storage8 for bool  (instantiates Storage8&lt;bool&gt; specialization)
    Storage8&lt;bool&gt; cBoolStorage;
    for (int nCount=0; nCount&lt;8; nCount++)
        cBoolStorage.Set(nCount, nCount &amp; 3);

    for (int nCount=0; nCount&lt;8; nCount++)
        std::cout &lt;&lt; (cBoolStorage.Get(nCount) ? &quot;true&quot; : &quot;false&quot;) &lt;&lt; std::endl;

    return 0;
}
</pre></td></tr></table>
<p>As you might expect, this prints the same result as the previous example that used the non-specialized version of Storage8&lt;bool&gt;:</p>
<pre>
0
1
2
3
4
5
6
7
0
1
2
3
4
5
6
7
false
true
true
true
false
true
true
true
</pre>
<p>It&#8217;s worth noting again that keeping the public interface between your template class and all of the specializations identical is generally a good idea, as it makes them easier to use &#8212; however, it&#8217;s not strictly necessary.</p>
