<div style='float:left;padding:8px 8px 8px 0px;'>
</div><p>In the lesson on <a href="http://www.learncpp.com/cpp-tutorial/144-expression-parameters-and-template-specialization/">expression parameters and template specialization</a>, you learned how expression parameters could be used to parametrize template classes.</p>
<p>Let&#8217;s take another look at the Buffer class we used in the previous example:</p>
<table><tr><td class="source"><pre class="brush: cpp; title: ; notranslate" title="">
template &lt;typename T, int nSize&gt; // nSize is the expression parameter
class Buffer
{
private:
    // The expression parameter controls the side of the array
    T m_atBuffer[nSize];

public:
    T* GetBuffer() { return m_atBuffer; }

    T&amp; operator[](int nIndex)
    {
        return m_atBuffer[nIndex];
    }
};

int main()
{
    // declare a char buffer
    Buffer&lt;char, 10&gt; cChar10Buffer;

    // copy a value into the buffer
    strcpy(cChar10Buffer.GetBuffer(), &quot;Ten&quot;);

    return 0;
}
</pre></td></tr></table>
<p>Now, let&#8217;s say we wanted to write a function to print out a buffer as a string.  Although we could implement this as a member function, we&#8217;re going to do it as a non-member function instead because it will make the successive examples easier to follow.</p>
<p>Using templates, we might write something like this:</p>
<table><tr><td class="source"><pre class="brush: cpp; title: ; notranslate" title="">
template &lt;typename T, int nSize&gt;
void PrintBufferString(Buffer&lt;T, nSize&gt; &amp;rcBuf)
{
    std::cout &lt;&lt; rcBuf.GetBuffer() &lt;&lt; std::endl;
}
</pre></td></tr></table>
<p>This would allow us to do the following:</p>
<table><tr><td class="source"><pre class="brush: cpp; title: ; notranslate" title="">
int main()
{
    // declare a char buffer
    Buffer&lt;char, 10&gt; cChar10Buffer;

    // copy a value into the buffer
    strcpy(cChar10Buffer.GetBuffer(), &quot;Ten&quot;);

    // Print the value
    PrintBufferString(cChar10Buffer);
    return 0;
}
</pre></td></tr></table>
<p>and get the following result:</p>
<pre>
Ten
</pre>
<p>Although this works, it has a design flaw.  Consider the following:</p>
<table><tr><td class="source"><pre class="brush: cpp; title: ; notranslate" title="">
int main()
{
    // declare an int buffer
    Buffer&lt;int, 10&gt; cInt10Buffer;

    // copy values into the buffer
    for (int nCount=0; nCount &lt; 10; nCount++)
        cInt10Buffer[nCount] = nCount;

    // Print the value?
    PrintBufferString(cInt10Buffer); // what does this mean?
    return 0;
}
</pre></td></tr></table>
<p>This program will compile, execute, and produce the following value (or one similar):</p>
<pre>
0012FF10
</pre>
<p>What happened?  PrintBufferString() has std::cout print the value of <code>rcBuf.GetBuffer()</code>, which returns a pointer to m_atBuffer!  When the data type is a char, cout will print the array as a C-style character string, but when the data type is non-char (such as in this case), cout will print the address that the pointer is holding!</p>
<p>Obviously this case exposes a misuse of this function (as written).  Without explicitly examining the code, the programmer would not have any clue that this function does not handle non-char buffers correctly.  This is likely to lead to programming errors.</p>
<p><strong>Template specialization</strong></p>
<p>One seemingly useful way to solve this problem is to use template specialization to ensure that only arrays of type char can be passed to PrintBufferString().  As you learned in the previous lesson, template specialization allows you to define a function where all of the templated types have been resolved to a specific data type.</p>
<p>Here&#8217;s an example of how that might work here:</p>
<table><tr><td class="source"><pre class="brush: cpp; title: ; notranslate" title="">
void PrintBufferString(Buffer&lt;char, 10&gt; &amp;rcBuf)
{
    std::cout &lt;&lt; rcBuf.GetBuffer() &lt;&lt; std::endl;
}

int main()
{
    // declare a char buffer
    Buffer&lt;char, 10&gt; cChar10Buffer;

    // copy a value into the buffer
    strcpy(cChar10Buffer.GetBuffer(), &quot;Ten&quot;);

    // Print the value
    PrintBufferString(cChar10Buffer);
    return 0;
}
</pre></td></tr></table>
<p>As you can see, we&#8217;ve now specialized PrintBufferString so it will only accept Buffers of type char and of length 10.  This means if we try to call PrintBufferString with an int buffer, the compiler will give us an error.</p>
<p>Although this solves the issue of making sure PrintBufferString can not be called with an int Buffer, it brings up another problem: using full template specialization means we have to explicitly define the length of the buffer this function will accept!  Consider the following example:</p>
<table><tr><td class="source"><pre class="brush: cpp; title: ; notranslate" title="">
int main()
{
    Buffer&lt;char, 10&gt; cChar10Buffer;
    Buffer&lt;char, 11&gt; cChar11Buffer;

    strcpy(cChar10Buffer.GetBuffer(), &quot;Ten&quot;);
    strcpy(cChar11Buffer.GetBuffer(), &quot;Eleven&quot;);

    PrintBufferString(cChar10Buffer);
    PrintBufferString(cChar11Buffer); // this will not compile

    return 0;
}
</pre></td></tr></table>
<p>Trying to call PrintBufferString() with cChar11Buffer will not work, because cChar11Buffer is a class of type Buffer&lt;char, 11&gt;, and PrintBufferString() only accepts classes of type Buffer&lt;char, 10&gt;.  Even though Buffer&lt;char, 10&gt; and Buffer&lt;char, 11&gt; are both templated from the generic Buffer class, the different template parameters means they are treated as different classes, and can not be intermixed.</p>
<p>Although we could make a copy of PrintBufferString() that could handle Buffer&lt;char, 11&gt;, what happens when we want to call PrintBufferString() will a buffer of size 5, or 14?  We&#8217;d have to copy the function for each different Buffer size we wanted to use.</p>
<p>Obviously full template specialization is too restrictive a solution here.  The solution we are looking for is partial template specialization.</p>
<p><strong>Partial template specialization</strong></p>
<p>Partial template specialization allows us to write functions where some of the template parameters have been fully or partially resolved.  In this case, the ideal solution would be to allow PrintBufferString() to accept char Buffers of any length.  That means we have to specialize the templated data type, but leave the length in templated form.  Fortunately, partial template specialization allows us to do just that!</p>
<table><tr><td class="source"><pre class="brush: cpp; title: ; notranslate" title="">
template&lt;int nSize&gt;
void PrintBufferString(Buffer&lt;char, nSize&gt; &amp;rcBuf)
{
	std::cout &lt;&lt; rcBuf.GetBuffer() &lt;&lt; std::endl;
}
</pre></td></tr></table>
<p>As you can see here, we&#8217;ve explicitly declared that this function will only work for Buffers of type char, but nSize is still a templated parameter, so it will work for char buffers of any size.  That&#8217;s all there is to it!</p>
<p>Consider the following example:</p>
<table><tr><td class="source"><pre class="brush: cpp; title: ; notranslate" title="">
int main()
{
    // declare an integer buffer with room for 12 chars
    Buffer&lt;char, 10&gt; cChar10Buffer;
    Buffer&lt;char, 11&gt; cChar11Buffer;

    // strcpy a string into the buffer and print it
    strcpy(cChar10Buffer.GetBuffer(), &quot;Ten&quot;);
    strcpy(cChar11Buffer.GetBuffer(), &quot;Eleven&quot;);

    PrintBufferString(cChar10Buffer);
    PrintBufferString(cChar11Buffer);

    return 0;
}
</pre></td></tr></table>
<p>This prints:</p>
<pre>
Ten
Eleven
</pre>
<p>Just as we expect.</p>
<p><strong>Partial template specialization for pointers</strong></p>
<p>In the previous lesson on <a href="http://www.learncpp.com/cpp-tutorial/144-expression-parameters-and-template-specialization/">expression parameters and template specialization</a>, we took a look at a simple templated Storage class:</p>
<table><tr><td class="source"><pre class="brush: cpp; title: ; notranslate" title="">
using namespace std;

template &lt;typename T&gt;
class Storage
{
private:
    T m_tValue;
public:
    Storage(T tValue)
    {
         m_tValue = tValue;
    }

    ~Storage()
    {
    }

    void Print()
    {
        std::cout &lt;&lt; m_tValue &lt;&lt; std::endl;;
    }
};
</pre></td></tr></table>
<p>We showed that this class had problems when template parameter T was of type char* because of the shallow copy/pointer assignment that takes place in the constructor.  In that lesson, we used full template specialization to create a specialized version of the Storage constructor for type char* that allocated memory and created an actual deep copy of tValue.  For reference, here&#8217;s the fully specialized char* Storage constructor:</p>
<table><tr><td class="source"><pre class="brush: cpp; title: ; notranslate" title="">
Storage&lt;char*&gt;::Storage(char* tValue)
{
    // Allocate memory to hold the tValue string
    m_tValue = new char[strlen(tValue)+1];
    // Copy the actual tValue string into the m_tValue memory we just allocated
    strcpy(m_tValue, tValue);
}
</pre></td></tr></table>
<p>While that worked great for Storage&lt;char*&gt;, what about other pointer types?  It&#8217;s fairly easy to see that if T is any pointer type, then we run into the problem of the constructor doing a pointer assignment instead of making an actual copy of the element being pointed to.</p>
<p>Because full template specialization forces us to fully resolve templated types, in order to fix this issue we&#8217;d have to define a new specialized constructor for each and every pointer type we wanted to use Storage with!  This leads to lots of duplicate code, which as you well know by now is something we want to avoid as much as possible.</p>
<p>Fortunately, partial template specialization offers us a convenient solution.  In this case, we&#8217;ll use class partial template specialization to define a special version of Storage that works for pointer values:</p>
<table><tr><td class="source"><pre class="brush: cpp; title: ; notranslate" title="">
using namespace std;

template &lt;typename T&gt;
class Storage&lt;T*&gt; // this is specialization of Storage that works with pointer types
{
private:
    T* m_tValue;
public:
    Storage(T* tValue) // for pointer type T
    {
         m_tValue = new T(*tValue);
    }

    ~Storage()
    {
        delete m_tValue;
    }

    void Print()
    {
        std::cout &lt;&lt; *m_tValue &lt;&lt; std::endl;
    }
};
</pre></td></tr></table>
<p>And an example of this working:</p>
<table><tr><td class="source"><pre class="brush: cpp; title: ; notranslate" title="">
int main()
{
    // Declare a non-pointer Storage to show it works
    Storage&lt;int&gt; cIntStorage(5);

    // Declare a pointer Storage to show it works
    int x = 7;
    Storage&lt;int*&gt; cIntPtrStorage(&amp;x);

    // If cIntPtrStorage did a pointer assignment on x,
    // then changing x will change cIntPtrStorage too
    x = 9;
    cIntPtrStorage.Print();

    return 0;
}
</pre></td></tr></table>
<p>This prints the value:</p>
<pre>
7
</pre>
<p>The fact that we got a 7 here shows that cIntPtrStorage used the pointer version of Storage, which allocated it&#8217;s own copy of the int.  If cIntPtrStorage had used the non-pointer version of Storage, it would have done a pointer assignment &#8212; and when we changed the value of x, we would have changed cIntPtrStorage&#8217;s value too.</p>
<p>Using partial template class specialization to create separate pointer and non-pointer implementations of a class is extremely useful when you want a class to handle both differently, but in a way that&#8217;s completely transparent to the end-user.</p>
